body {
    background-color: #ffffff;
    position: relative;
    font-family: 'Kanit', sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 5fr;
    gap: 10px;
}
.header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: gray;
}
.header h1 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
}
.navbar-container {
    grid-row-start: 2;
    grid-row-end: 2;
}
.main {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    gap: 10px;
}
.main-left-sidebar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: cadetblue;
}
.main-content {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.main-right-sidebar {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: cadetblue;
}
.iframe-container {
    position: relative;
    overflow: hidden;
    padding: 30%;
    visibility: revert;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


